{% extends 'dashboard.html.twig' %}

{% block body %}
    <h1>Message list</h1>
    <table class="table table-bordered table-dark" style="margin-top: 30px;">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>

        </tr>
        </thead>
        <tbody>
        {% for contact in contact %}
            <tr>
                <th scope="row"><a href="{{ path('contact_index', { 'id': contact.id }) }}">{{ contact.id }}</a></th>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.message }}</td>


            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

